{% extends "base.html" %}
{% block content %}
<div class="header">
    Vaibhav Kumar Yadav
</div>
<div class="about-container">
    <h1 class="section-title">About Me</h1>
    <p>Hello! I am a dynamic and results-driven AI/ML Engineer with 8 years of industry experience.</p>
    <p>I specialize in Natural Language Processing (NLP) and Generative AI, leading innovative projects to enhance operational efficiency.</p>
    <p>My work at Siemens includes designing and delivering critical AI applications like Copilots and Chatbots within the industrial automation and power systems domains.</p>
    <p>Committed to continuous learning and technical leadership, I am eager to contribute to groundbreaking projects and expand AI capabilities.</p>
</div>
{% endblock %}